Django==3.2.16
django-cors-headers==3.10.1
django-extensions==3.1.5
django-google-maps==0.13.0
pandas==2.2.3
numpy==2.0.2
scikit-learn==1.6.0
tensorflow==2.18.0
lightgbm==4.5.0
matplotlib==3.9.4
openai==0.28
seaborn==0.13.2